@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

:root {
  --btnColor: #004e6d;
  --textColor: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.navbar h1 {
  font-size: 2.5rem;
  font-family: "Dosis", serif;
}
.navbar h1 span {
  color: #004e6d;
  font-family: "Dancing Script", serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 35px;
  position: fixed;
  width: 96%;
  top: 0px;
  background-color: var(--textColor);
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.navlinks a {
  cursor: pointer;
  color: var(--btnColor);
  text-decoration: none;
}

.navlinks a:hover {
  color: blue;
}
.contact-div {
  background-color: #004e6d;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.contact-div:hover {
  background-color: blue;
}
.contact-div a {
  color: white;
  text-decoration: none;
}
.hero {
  background-image: url("../image/landingPage.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  row-gap: 30px;
}
.hero h1 {
  font-size: 4rem;
  color: var(--textColor);
}
.hero p {
  font-size: 2rem;
  color: var(--textColor);
}
.hero-text {
  width: 50%;
  text-wrap: wrap;
  text-align: center;
  font-family: "Dosis", serif;
}

.hero-buttons :nth-child(1) {
  background-color: var(--btnColor);
  padding: 12px 40px;
  color: var(--textColor);
  font-size: 1.1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  text-decoration: none;
}
.hero-buttons :nth-child(1):hover {
  padding: 13px 44px;
  background-color: blue;
}
.hero-buttons :nth-child(2) {
  background-color: transparent;
  padding: 10px 40px;
  color: var(--textColor);
  font-size: 1.1rem;
  border: 2px solid var(--textColor);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.hero-buttons :nth-child(2):hover {
  padding: 13px 44px;
}

.about-section {
  width: 100%;
  height: 100vh;
  background-color: var(--textColor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.aboutImageDiv {
  width: 40%;
  height: 70%;
}
.aboutImageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.aboutTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
}
.aboutTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.aboutTextDiv h2 span {
  color: #004e6d;
}

.aboutTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  margin-top: 10%;
  font-family: "Dosis", serif;
  text-align: justify;
}

.aboutTextDiv .aboutDiv {
  margin-top: 20px;
  width: 30%;
}

.aboutTextDiv .aboutDiv button {
  background-color: #004e6d;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.aboutTextDiv .aboutDiv button:hover {
  color: var(--textColor);
  background-color: blue;
}

.portfolio-section {
  width: 100%;
  height: 100vh;
  background-color: rgba(209, 206, 206, 0.185);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.portfolioTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
}

.portfolioTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.portfolioTextDiv h2 span {
  color: #004e6d;
}

.portfolioTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  margin-top: 10%;
  font-family: "Dosis", serif;
  text-align: justify;
}

.portfolioTextDiv .aboutDiv {
  margin-top: 20px;
  width: 35%;
}

.portfolioTextDiv .aboutDiv button {
  background-color: #004e6d;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.portfolioTextDiv .aboutDiv button:hover {
  color: var(--textColor);
  background-color: blue;
}

.portfolioImageDiv {
  width: 40%;
  height: 70%;
}

.portfolioImageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.services-section {
  width: 100%;
  height: 100vh;
  background-color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.servicesTextDiv {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.servicesTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.servicesTextDiv h2 span {
  color: #004e6d;
}

.servicesTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  font-family: "Dosis", serif;
  text-align: justify;
}

.servicesDiv {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4%;
}
.serviceContentDiv {
  width: 30%;
  height: 40%;
  border: 1.8px solid var(--btnColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.serviceContentDiv:hover {
  background-color: rgba(0, 0, 255, 0.068);
}
.logoDiv {
  width: 50%;
  height: 30%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.logoDiv img {
  width: 32%;
}
.serviceContentDiv h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.774);
  font-family: "Dosis", serif;
  text-align: justify;
}

.serviceContentDiv p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Dosis", serif;
  text-align: center;
}
.pricing-section {
  width: 100%;
  height: 100vh;
  background-color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.priceTextDiv {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.priceTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}

.priceTextDiv h2 span {
  color: #004e6d;
}

.priceTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  font-family: "Dosis", serif;
  text-align: justify;
}

.priceDiv {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}

.priceDiv .priceContentDiv {
  width: 30%;
  height: 80%;
  border: 1.8px solid var(--btnColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.priceDiv .priceContentDiv:hover {
  background-color: rgba(0, 0, 255, 0.068);
}

.priceContentDiv h3 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.829);
}

.priceContentDiv h3 span {
  color: #004e6d;
  font-weight: bold;
  font-size: 1.7rem;
}
.priceContentDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Dosis", serif;
  text-align: center;
}
.priceContentDiv ul {
  height: 50%;
  line-height: 50px;
}

.priceContentDiv ul li {
  font-size: 1.5rem;
  color: rgba(20, 12, 12, 0.74);
}
.Testimonials-section {
  width: 100%;
  height: 100vh;
  background-color: rgba(209, 206, 206, 0.185);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.testimonialTextDiv {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.testimonialTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.testimonialTextDiv h2 span {
  color: #004e6d;
}

.testimonialTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  font-family: "Dosis", serif;
  text-align: justify;
}
.testimonialsDiv {
  width: 90%;
  height: 70%;
  background-color: var(--textColor);
  border: 1.3px solid rgba(128, 128, 128, 0.384);
  margin-top: 8%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.testClient1Div {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testClient1Div p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Dosis", serif;
  font-weight: 400;
  text-align: justify;
  font-style: italic;
}
.nameImgDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 4%;
}
.imgDiv {
  width: 30%;
  height: 90%;
  margin-right: 4%;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--btnColor);
}
.nameDiv h3 {
  font-family: "Dosis", serif;
  font-size: bold;
}
.nameDiv span {
  color: #004e6d;
}
.contact-section {
  width: 100%;
  height: 110vh;
  background-color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.contactTextDiv {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
}

.contactTextDiv h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.contactTextDiv h2 span {
  color: #004e6d;
}

.contactTextDiv p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  font-family: "Dosis", serif;
  text-align: justify;
}

.contactImageFormDiv {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 6%;
}

.contactImageFormDiv .imgDiv {
  width: 40%;
  height: 90%;
}
.contactImageFormDiv .imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: none;
}

.contactImageFormDiv .formDiv {
  width: 40%;
  height: 90%;
  /* border: 1px solid var(--btnColor); */
  display: flex;
  flex-direction: column;
}
.formDiv .input1Div {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formDiv .input1Div input {
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  outline: none;
  margin-bottom: 5%;
}
.formDiv .input2Div {
  width: 100%;
  height: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formDiv .input2Div input {
  width: 92%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  outline: none;
  margin-bottom: 1%;
  font-size: 1rem;
}
.textAreaButtonDiv {
  width: 95%;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
}

.textAreaButtonDiv textarea {
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  outline: none;
  margin-bottom: 1%;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

.formDiv ::placeholder {
  font-family: "Dosis", serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.textAreaButtonDiv button {
  background-color: #004e6d;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  caret-color: var(--btnColor);
}

.textAreaButtonDiv button:hover {
  color: var(--textColor);
  background-color: blue;
}

/* testing popUpButton */
/* Modal Background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  height: 70vh;
  text-align: center;
  border-radius: 8px;
  position: relative;
}
.modal-content h2 {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.829);
}
.modal-content h2 span {
  color: #004e6d;
}

.modal-content .para {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-weight: 500;
  font-family: "Dosis", serif;
  text-align: center;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

/* Portfolio Items */
.portfolio-items {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}

.item {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}
.footer-section {
  width: 100%;
  height: 35vh;
  background-color: #004e6d3f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 8%;
}

.footer-section .signDiv {
  width: 23%;
  height: 100%;
  /* background-color: aqua; */
}

.sign h1 {
  font-size: 3rem;
  font-family: "Dosis", serif;
}
.sign h1 span {
  color: #004e6d;
  font-family: "Dancing Script", serif;
}
.footer-section .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}
.footer-section .sign p {
  font-size: 1.2rem;
  font-family: "Dosis", serif;
  font-weight: 500;
}
.footer-section .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section .services h1 {
  font-size: 1.3rem;
  font-family: "Dosis", serif;
  margin-bottom: 2%;
  color: rgba(0, 0, 0, 0.89);
  font-weight: bold;
}
.footer-section .services p {
  color: rgba(0, 0, 0, 0.758);
  margin-bottom: 4px;
  font-family: "Dosis", serif;
  font-weight: 550;
  font-size: 1.1rem;
}
.footer-section .services p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-section .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section .company h1 {
  font-size: 1.3rem;
  font-family: "Dosis", serif;
  margin-bottom: 2%;
  color: rgba(0, 0, 0, 0.89);
  font-weight: bold;
}
.footer-section .company ul {
  display: flex;
  flex-direction: column;
}
.footer-section .company ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.758);
  margin-bottom: 4px;
  font-family: "Dosis", serif;
  font-weight: 550;
  font-size: 1.1rem;
}
.footer-section .company ul a:hover {
  text-decoration: underline;
}
.footer-section .letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section .letter h1 {
  font-size: 1.8rem;
  font-family: "Dosis", serif;
  margin-bottom: 2%;
  color: rgba(0, 0, 0, 0.89);
  font-weight: bold;
}
.footer-section .letter label {
  color: rgba(0, 0, 0, 0.758);
  margin-bottom: 4px;
  font-family: "Dosis", serif;
  font-weight: 550;
  font-size: 1.1rem;
}
.footer-section .letter .InputBtn {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.footer-section .InputBtn input {
  outline: none;
  background-color: var(--textColor);
  border: 1.5px solid rgba(128, 128, 128, 0.404);
  width: 70%;
  height: 60%;
  border-radius: 7px;
  padding: 5px;
  font-size: 1rem;
}
.InputBtn .btn {
  width: 35%;
  height: 77%;
  background-color: blue;
  border-radius: 4px;
}
.InputBtn .btn:hover {
  background-color: rgba(0, 0, 255, 0.763);
}
.InputBtn .btn button {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: "Dosis", serif;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;
  color: var(--textColor);
}
.InputBtn ::placeholder {
  font-family: "Dosis", serif;
  font-size: 1.2rem;
  font-weight: 500;
}
